{% extends 'base.html.twig' %}
{% block title %}
Todo
{% endblock %}	
{% block pageTitle %}Tasks to complete:{% endblock %}
{% block body %}
<div class="container">
<table class="table table-hover">
<thead>
<tr>
  <th scope="col">Task</th>
  <th scope="col">Due Date</th>
  <th scope="col">Action</th>
  <th scope="col"></th>
</tr>
</thead>
<tbody>
{% for task in tasks %}
	<tr class="table-light"><td>{{ task.task }}</td><td>{{ task.dueDate | date('M d, Y')}}</td><td><a href="{{ path('remove', {'id':task.id}) }}" id="{{task.id}}"><span id="complete">Complete</span></a></td><td><a href="#"><span id="quit">X</span></a></td></tr>
{% endfor %}
<tr class="table-light"><td><a href="{{ path('add') }}">Add a task...</a></td><td></td><td></td><td></td></tr>
</tbody>
</table>
</div>
{% endblock %}
